body{
    text-align: center;
}
.box{
    height: 200px;
    width: 200px;
    border: 8px solid black;
    border-radius: 20px;
    margin:2rem;
}
.box-container{
    display: flex;
    justify-content: center;
    
}
.red{
    background-color: #d95980;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819fff;     
}
.yellow{
    background-color: #f99b45;
}   
.flash{
    background-color:whitesmoke;
}
.userflash{
    background-color: grey;
}